.content{
    background-image: url(../../Images/heart.png);
    background-size: cover;
min-height: 100vh;
}
.details{
    color: #fff;
    padding-top: 50px;
}

.dtl{
    color: white;
    text-decoration: none;
}