.content{
    background-image: url(../../Images/heart.png);
    background-size: cover;
    min-height: 90vh;
}
.details{
    color: #fff;
    padding-top: 50px;
    font-weight: bold;
    font-size: 20px;
}
.dtl{
    color: white;
    text-decoration: none;
}
.hodiv{
    
    font-size: 30px;
}